{% extends "base.html" %}
{% if override %}
    {% block inheritable %}
    {% endblock %}
{% endif %}
{% block title %}Reports{% endblock %}

{% block content %}
<html>
<h2 align=center> <strong>{{ report_name }} Report </strong></h2>
<body>
{% if include_href %}
 <table>
    <tr>
    <td><a target="_blank" href="{% url 'reviewer:generate_pdf' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export PDF</a>
    </td><td><a target="_blank" href="{% url 'reviewer:generate_XLS' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export XLS</a></td>
    <td><a target="_blank" href="{% url 'reviewer:generate_XLSX' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export XLSX</a></td>
    </tr>
</table>
{% endif %}
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close"></a>
</li>
{% endfor %}
</ul>
{% endif %}
<table border=2>
{% if csrf %}
{% csrf_token %}
{% endif %}
	<h3> District: <strong>{{ district_full_name }}</strong> </h3>
	<h3> Report Month: <strong>{{ verbose_report_month }}</strong> </h3>
    <thead>
                         <th scope="col">Sl.No</th>
                        <th scope="col">OMT ID</th>
                        <th scope="col">Name of VLE/CSC </th>
                        <th scope="col">Name of Gaon Panchayat</th>
                        <th scope="col">Address of Gaon Panchayat</th>
                        <th scope="col">VLE Mobile Num</th>
                        <th scope="col">IT Infrastructure Details</th>
                        <th scope="col">Connectivty Mode</th>
                        <th scope="col">Number of G2C and G2G Services</th>
                        <th scope="col">Number of G2B and Other Services</th>
                        <th scope="col">Remarks</th>
                    
    </thead>
        {% for item in filtered_result %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td >{{ item.omt_id }}</td>
            <td>{{ item.vle_name }}</td>

            <td> {{ item.gaon_panchayat_name }}</td>
            <td> {{ item.address }}</td>
            <td> {{ item.mobile_number }}</td>
            <td> {{ item.infra_details }}</td>

            <td> {{ item.connectivity_modes }}</td>
            <td> {{ item.num_g2c_and_g2g_services }}</td>
            <td> {{ item.num_g2b_and_other_services }}</td>
            <td> {{ item.remarks }}</td>
        </tr>
            
        {% endfor %}
</table>
 <form method="post" action="">
<a target="_blank" href="{% url 'messages:messages_compose' %}?recipient={{recipient}} ">Comment</a></form>
</body>
</html>
{% endblock %}