{% extends "base.html" %}
{% if override %}
    {% block inheritable %}
    {% endblock %}
{% endif %}
{% block title %}Reports{% endblock %}

{% block content %}
<html>
<h2 align=center> <strong>{{ report_name }} Report </strong></h2>
<body>
{% if include_href %}
 <table>
    <tr>
    <td><a target="_blank" href="{% url 'reviewer:generate_pdf' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export PDF</a>
    </td><td><a target="_blank" href="{% url 'reviewer:generate_XLS' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export XLS</a></td>
    <td><a target="_blank" href="{% url 'reviewer:generate_XLSX' %}?period={{YYYYMM}}&district={{district}}&report={{report_name}}">Export XLSX</a></td>
    </tr>
</table>
{% endif %}
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close"></a>
</li>
{% endfor %}
</ul>
{% endif %}
<table border=2>
{% if csrf %}
{% csrf_token %}
{% endif %}
	<h3> District: <strong>{{ district_full_name }}</strong> </h3>
	<h3> Report Month: <strong>{{ verbose_report_month }}</strong> </h3>
    <thead>
                        <th scope="col">Sl.No</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Total Number of Transaction</th>
                        <th scope="col">Service Charge(Rs)</th>
                        <th scope="col">Statutory Charge(if any)</th>
                        <th scope="col">Total Revenue</th>
                    
    </thead>
        {% for item in filtered_result %}
        <tr>
                          <td>{{forloop.counter}}</td>
                         <td >{{ item.service_nm }}</td>
                        <td> {{ item.total_transactions }}</td>
                        <td> {{ item.service_charge }}</td>
                        <td> {{ item.statutory_charge }}</td>
                        <td> {{ item.total_revenue }}</td>
        </tr>
            
        {% endfor %}
</table>
 <form method="post" action="">
<a target="_blank" href="{% url 'messages:messages_compose' %}?recipient={{recipient}} ">Comment</a>
</form>
</body>
</html>
{% endblock %}